{% extends 'base.html' %}

{% block content %}

    <style>
      .content {
          width:%;
          float:left;
      }
    </style>

<div class="">
<h3>Quick Job Search </h3>
    <form class="form" action="Result.html" method="get">
        <div class="form-group">
            <label class="control-label" for="post">Post</label>
            <input id="post" class="form-control" type="text" name= "skill">
        </div>
        Qualification       : <select>
        <option>Select</option>
        {% for i in a %}
            <option value="">{{i.job_qual_title}}</option>
        {% endfor %}
        </select><br><br>
        Location : <select>
        <option>Select</option>
        {% for j in b %}
            <option>{{ j.job_loc_title }} </option>
        {% endfor %}
        </select><br><br>

        <input type="submit" value="Search">
        <input type="Reset" value="Reset"></form>

</div>
<div>
<hr>

<h3>Latest Jobs</h3>
<table border="5px", width="100%">
    <tr>
        <th>Job</th>
        <th>Department</th>
        <th>Location</th>
        <th>Qualification</th>

    </tr>
    {% for a in jobs %}
    <tr>
        <th>{{ a.job_title }}</th>
        <th>{{ a.job_department }}</th>
        <th>{{ a.job_loc.job_loc_title }}</th>
        <th>{{ a.job_qual.job_qual_title }}</th>
    </tr>
    {% endfor %}

</table>

</div>

{% endblock %}